/* AOFG :: ApplikativeOberflächenGestaltung.js */

@function --n-bool(--value type( true | false | on | off | 1 | 0 ) : off){
  result: if(
    style(--value: on)  : true;
    style(--value: 1)   : true;
    style(--value: off) : false;
    style(--value: 0)   : false;
    else                : var(--value);
  );
}

@property --charset { inherit: false; initial-value: "utf8";  syntax: "<string>";  }        
@property --dir     { inherit: false; initial-value: "ltr";   syntax: "ltr | rtl"; }        
@property --locale  { inherit: false; initial-value: "de_DE"; syntax: "<string>";  }        

:root {
  /* a11y */
  --a11y-contrast : off;
  --a11y-motion   : off;
  
  /* document */
  --charset : 'utf8';
  --locale  : 'de_DE';
  --dir     : 'ltr';

  /* font */
  --font-mono : 'JetBrains Mono';
  --font-sans : 'Manrope';

  /* gestalt */
  --density  : compact;
  --geometry : soft;
  --palette  : zombie;
  --skin     : andromeda;
}

:root {
  --reset
}

* {
  gap: --space(var(--gap));
}



:root {
  --reset      : true;
  --reset-flow : true;
}

@container style(--reset: true) {
  @container style(--reset-flow: true) {
    div, main, section {
      display        : flex;
      flex-direction : column;
      --gap: small;
    }
    div-x {
      display        : flex;
      flex-direction : row;
      inline-size    : 100%;
    }
    div-y, main, section {
      display         : flex;
      flex-direction  : column;
      inline-size     : 100%;
      justify-content : safe center;
    }
  }
}

@container style(--reset: true) {
  @container style(--reset-flow: true) {
    button, div, dix-x, div-y, main, section { display: flex; --gap: small; inline-size: 100%; }
            div,        div-y, main, section { flex-direction : column; }
    button,      div-x                       { flex-direction : row; }
                        div-y, main, section { justify-content : safe center; }
  }
  }

@container style(--reset: true) {
  @container style(--reset-flow: true) {
    button, div, dix-x, div-y, main, section { display: flex; --gap: small; inline-size: 100%; }
            div,        div-y, main, section { flex-direction : column; }
    button,      div-x                       { flex-direction : row; }
                        div-y, main, section { justify-content : safe center; }

    button { flex-direction : row; }
    div-x  { flex-direction : row; }

    div     { flex-direction : column; }
    div-y   { flex-direction : column; }
    main    { flex-direction : column; }
    section { flex-direction : column; }
    }
  }
}

